
a{
    text-decoration: none;
}

/* ------------------------------------------------------------------ Banner Start ---------------------------------------------------------------------------- */

.contact-bg{
    position: relative;
    width: 100%;
}

.contact-bg img{
    width:inherit;
}

.contact-bg h4{
    color: blueviolet;
    font-size: 20px;
    font-family: poppins;
    padding:0px;
    margin: 0px 0px 10px 0px;
} 

.contact-bg hr{
    border: 3px solid blueviolet;
    padding:0px;
    margin: 0px;
}
.contact-bg h3{
    color: hsl(233, 26%, 24%);
    font-size: 40px;
    font-family: poppins;
} 

.contact-bg p{
    color: hsl(233, 8%, 62%);
    font-size: 15px;
    font-family: poppins;
    margin-bottom: 40px;
} 

.contact-link{
    border: 2px solid blueviolet;
    border-radius: 5px;
    font-size: 30px;
    color: blueviolet;
    padding: 10px;
}

.contact-link:hover{
    border-radius: 5px;
    color: whitesmoke;
    background-color: blueviolet;
}

.contact-bg-info{
    position: absolute;
    text-align: center;
    top: 180px;
    left: 1000px;
    width: 700px;
}

/* ------------------------------------------------------------------ Banner End  ---------------------------------------------------------------------------- */



/* ------------------------------------------------------------------  Product and Services Start ---------------------------------------------------------------------------- */

.flex-div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.ps-title{
    display: block;
}
.ps-title h3{
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 50px;
    color: hsl(233, 26%, 24%);
    font-family: poppins; 
}



.ps-title hr{
    width: 300px;
    border: 2px solid blueviolet;
}

.ps-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3rem;
    row-gap: 2rem;
    margin-bottom: 100px;
}

.ps-item{
    width: 500px;
}

.ps-item h3{
    font-size: 25px;
    color: blueviolet;
}

.ps-item p{
    font-size: 40px;
    color: hsl(233, 8%, 62%);
}

.ps-item a{
    background-color:  blueviolet;
    border-radius: 5px;
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
}

.ps-item a:hover{
    background-color: #0b87da;
    border-radius: 5px;
    color: whitesmoke;
}

/* ------------------------------------------------------------------  Product and Services  End ---------------------------------------------------------------------------- */
